.money-title{
    color: palevioletred;
    text-align: center;
    margin-top: 10px;
}
.money-amount{
    font-size: 20px;
}
.money-image{
    width: 100%;
}
.money-input{
    border-radius:5px;
    margin-left:10px;
    border: 1px solid #acdad6;
    font-size: 15px;
    padding-left: 5px;
}